In [2]:
import numpy as np
five_store = np.random.randint(100,10000,size=(5,30))
five_store_cumsum = five_store.cumsum(axis=1)
five_store_cumsum

array([[  3031,  10874,  18192,  18694,  27963,  32435,  35630,  38636,
         47328,  53665,  57233,  66509,  69733,  73420,  82851,  92619,
        100346, 105179, 114156, 120550, 126661, 131921, 138365, 140278,
        149034, 156350, 166318, 174494, 175752, 178026],
       [  6203,   6671,  15845,  17523,  26794,  34282,  35305,  35573,
         40783,  45003,  45594,  51586,  53391,  57614,  67376,  69259,
         71905,  81094,  82122,  82353,  84661,  93533,  95919,  98605,
         98795, 107656, 110613, 118511, 121013, 125450],
       [  2454,   9143,  11258,  17776,  24055,  32623,  39622,  44602,
         54393,  56499,  64627,  69805,  71525,  80388,  83637,  88516,
         93047,  98262,  98482, 102607, 103614, 109798, 114418, 115368,
        125314, 126691, 127980, 135437, 141793, 151248],
       [  6586,  12623,  19750,  25744,  28673,  29940,  31804,  32602,
         36297,  37395,  42672,  52272,  54844,  63568,  68316,  73831,
         75428,  76130,  82283,  85211,  88234,  92550,  92970,  93619,
         95723, 102413, 111981, 113872, 122955, 127031],
       [  4544,   9723,  10203,  12338,  12502,  17296,  20280,  29746,
         34009,  42869,  51525,  56567,  63354,  69518,  73624,  82706,
         89614,  93934, 102454, 109835, 114276, 114582, 115920, 117185,
        124671, 126165, 133780, 140987, 144656, 153761]])

In [4]:
import pandas as pd

five_store = pd.DataFrame(five_store_cumsum,
             columns=[f"第{day}天" for day in range(1,31)],
             index=["台北分店","新竹分店",'台中分店','台南分店','高雄分店'])
new_df = five_store.T
new_df

        台北分店    新竹分店    台中分店    台南分店    高雄分店
第1天     3031    6203    2454    6586    4544
第2天    10874    6671    9143   12623    9723
第3天    18192   15845   11258   19750   10203
第4天    18694   17523   17776   25744   12338
第5天    27963   26794   24055   28673   12502
第6天    32435   34282   32623   29940   17296
第7天    35630   35305   39622   31804   20280
第8天    38636   35573   44602   32602   29746
第9天    47328   40783   54393   36297   34009
第10天   53665   45003   56499   37395   42869
第11天   57233   45594   64627   42672   51525
第12天   66509   51586   69805   52272   56567
第13天   69733   53391   71525   54844   63354
第14天   73420   57614   80388   63568   69518
第15天   82851   67376   83637   68316   73624
第16天   92619   69259   88516   73831   82706
第17天  100346   71905   93047   75428   89614
第18天  105179   81094   98262   76130   93934
第19天  114156   82122   98482   82283  102454
第20天  120550   82353  102607   85211  109835
第21天  126661   84661  103614   88234  114276
第22天  131921   93533  109798   92550  114582
第23天  138365   95919  114418   92970  115920
第24天  140278   98605  115368   93619  117185
第25天  149034   98795  125314   95723  124671
第26天  156350  107656  126691  102413  126165
第27天  166318  110613  127980  111981  133780
第28天  174494  118511  135437  113872  140987
第29天  175752  121013  141793  122955  144656
第30天  178026  125450  151248  127031  153761

In [8]:

new_df[:'第1天']

     台北分店  新竹分店  台中分店  台南分店  高雄分店
第1天  3031  6203  2454  6586  4544